@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Regular.woff2') format('woff2'),
       url('/fonts/Gotham-Regular.woff') format('woff'),
       url('/fonts/Gotham-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gotham', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}